body{
    background-color: black;
}


h1{
    color: white;
    font-size: 1.563rem;
    font-family:'Times New Roman', Times, serif;
}

.redor{
    background-color: rgb(61, 61, 61); 
    text-align: center;
    max-height: 20vw; 
    max-width: 95%;
    margin: auto;
    padding: 0.5vh;

}

.icones{
    width: 27vw;
    height: 27vh;
}

.images1{
flex-direction: row;
justify-content:space-around;
display: flex;
}


.comentario{
    font-size: 0.900rem;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    display: flex;
}
h2{
    color: white;
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}


body{
    background-color: black;
}

#titulo{
    font-size:1.563rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 232, 232);
    text-align: center;
 
} 

#redor{
    background-color: rgb(61, 61, 61);
    padding: 2%;
    color: rgb(0, 0, 0);
    margin: 1%;
}
 


.descricao {
   color: white;
    text-align: center;
    font-size: 0.600rem;
    padding: 0.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#footer {
    background-color: rgb(61, 61, 61);
    width: 100%;
    min-height: 5vh
}

h3{
    color: white;
    font-size: 1.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center; 
}
#fonte-baixo{
    font-size: 2.188rem;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}

#boxing-image{
  width: 100%;  
}
/* link/direcionamento */
#direcionamento{
    font-size: 1.563rem;
    text-align: center;
}
