body {
    background-color: black;
}

.hearder {
color: white;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

main {
    padding: 1%;
}

.redor{
    background-color: rgb(61, 61, 61); 
     text-align: center;
     max-height: 8vh;
     margin: auto;   
}
h2 {
    color: white;
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    text-align: center;
}

.redorp {
    background-color: rgb(51, 51, 51);
    text-align: center;
    margin: auto;
}
h3{
    color: rgb(202, 6, 6);
    text-align: center;
}
b {
    color:rgb(216, 25, 25)
}
footer{
    background-color: rgb(61, 61, 61);
    width: 100%;
    min-height: 5vh;
    clear:both;
}

a{
    color: rgb(255, 0, 0);
    text-decoration: none;
    text-align: center;
}


@media only screen and (min-width: 1280px) {
    .image{
        width: 90%;
        height: auto;
        padding: 0.5%;
        margin: 0%;
        border:2px solid white;
    }
    .redor{
        background-color: rgb(61, 61, 61); 
         text-align: center;
         max-height: 5vh;
         margin: auto;  
         padding: 1%; 
         max-width: 90%;
    }

    .main{
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    }
    h2 {
        color: white;
        text-align: center;
        font-size: 2.5rem;

    }
    .redorp {
        background-color: rgb(51, 51, 51);
        text-align: center;
        margin: auto;
        

}

}